@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  /* primary colors */
  --brightBlue: hsl(220, 98%, 61%);
  --checkedBg: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  /* light theme */
  --veryLightGray: hsl(0, 0%, 98%);
  --veryLightGrayishBlue: hsl(236, 33%, 92%);
  --lightGrayishBlue: hsl(233, 11%, 84%);
  --darkGrayishBlue: hsl(236, 9%, 61%);
  --veryDarkGrayishBlue: hsl(235, 19%, 35%);

  /* dark theme */
  --veryDarkBlue: hsl(235, 21%, 11%);
  --veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --lightGrayishBlue: hsl(234, 39%, 85%);
  --lightGrayishBlueHover: hsl(236, 33%, 92%);
  --darkGreyishBlue: hsl(234, 11%, 52%);
  --veryDarkGreyishBlue: hsl(233, 14%, 35%);
  --veryVeryDarkGreyishBlue: hsl(237, 14%, 26%);

  /* fonts */

  --boldFont: 700;
  --normalFW: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  min-height: auto;
}

button {
  background-color: transparent;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  color: var(--lightGrayishBlue);
}

input {
  border: none;
  background-color: transparent;
  display: block;
  font-family: "Josefin Sans", sans-serif;
}

input[type="checkbox"] {
  margin-right: 1rem;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
  min-width: 100vw;
}

header {
  background-image: url("images/bg-mobile-dark.jpg");
  background-repeat: no-repeat;
  background-position: top;
  min-height: 200px;
  min-width: 100vw;
}

main {
  /* border: 2px solid hsl(0, 0%, 98%); */
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

footer .attribution div {
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: hsl(228, 45%, 44%);
}

/* 
------------ APP DEFAULTS ---------------
*/

button .icon {
  width: 0.7rem;
}

.item > div,
.list-status,
.all-lists,
.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item > div,
.list-status,
.app-header {
  justify-content: flex-start;
}

.item,
.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.drag-drop {
  text-align: center;
  margin-top: 2rem;
  font-weight: var(--boldFont);
}

/* 
--------------- app title---------
 */

.app-header {
  margin-bottom: 2rem;
}
.app-header div h1 {
  letter-spacing: 0.8rem;
  font-size: 1.5rem;
  color: #fff;
}

/* 
---------------------- APP CONTAINER --------
*/

.container {
  display: flex;
  flex-direction: column;
  min-width: 330px;
  position: relative;
  z-index: 10;
  top: -9.5rem;
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task-container > div {
  background-color: var(--veryDarkDesaturatedBlue);
  border-radius: 7px;
}

.task-container > div:not(.new-entry) > div {
  display: flex;
  justify-content: space-between;
}

.all-lists {
  justify-content: center;
}

.all-lists > div {
  font-size: 0.95rem;
  font-weight: var(--boldFont);
}

.all-lists > div:hover {
  color: var(--brightBlue);
}

.all-lists > div:nth-of-type(2) {
  margin: 0 1.5rem;
}

.all-lists > div,
.list-status,
.list-status > button,
.drag-drop {
  color: var(--veryDarkGreyishBlue);
}

/* -------------task items ----------------- */
.item,
.list-status,
.all-lists,
.new-entry {
  padding: 1.1rem;
}

.new-entry form {
  display: flex;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--veryVeryDarkGreyishBlue);
}

.item,
.list-status,
.drag-drop {
  font-size: 0.8rem;
}

/* -------------check box input ----------------- */
.task-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  height: 20px;
  width: 20px;
  border: 1px solid var(--veryDarkGreyishBlue);
  border-radius: 50%;
  margin-right: 1rem;
}

/* .task-container input:checked + p {
  text-decoration: line-through var(--darkGreyishBlue) 1px;
  color: var(--veryDarkGreyishBlue);
} */

/* When the checkbox is checked, add a blue background */
.task-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* 
------------------ THEMES --------
*/

.dark {
  background-color: var(--veryDarkBlue);
  color: var(--lightGrayishBlue);
}

.task-container > div {
  box-shadow: 0 20px 50px var(--veryDarkBlue);
}

.light {
  background-color: var(--lightGrayishBlue);
  color: var(--veryDarkGrayishBlue);
}
