@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  /* primary colors */
  --brightBlue: hsl(220, 98%, 61%);
  --checkedBg: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  /* light theme */
  --veryLightGray: hsl(0, 0%, 98%);
  --veryLightGrayishBlue: hsl(236, 33%, 92%);
  --lightGrayishBlue: hsl(233, 11%, 84%);
  --darkGrayishBlue: hsl(236, 9%, 61%);
  --veryDarkGrayishBlue: hsl(235, 19%, 35%);

  /* dark theme */
  --veryDarkBlue: hsl(235, 21%, 11%);
  --veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --lightGrayishBlue: hsl(234, 39%, 85%);
  --lightGrayishBlueHover: hsl(236, 33%, 92%);
  --darkGreyishBlue: hsl(234, 11%, 52%);
  --veryDarkGreyishBlue: hsl(233, 14%, 35%);
  --veryVeryDarkGreyishBlue: hsl(237, 14%, 26%);

  /* fonts */

  --boldFont: 700;
  --normalFW: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  min-height: auto;
}

button {
  background-color: transparent;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  color: var(--lightGrayishBlue);
}

input {
  border: none;
  background-color: transparent;
  display: block;
  font-family: "Josefin Sans", sans-serif;
}

input[type="checkbox"] {
  margin-right: 1rem;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  display: grid;
  place-items: center;
}

header {
  min-height: 200px;
  min-width: 100vw;
  background-repeat: no-repeat;
  background-position: top;
}

main {
  min-height: 400px;
}

footer {
  max-width: 350px;
  text-align: center;
  font-size: 11px;
  position: relative;
  bottom: 20px;
}

footer .attribution a {
  color: hsl(228, 45%, 44%);
}

/* 
------------ APP DEFAULTS ---------------
*/

button .icon {
  width: 0.7rem;
}

.item > div,
.list-status,
.all-lists,
.app-header {
  display: flex;
  flex-direction: row;
}

.app-header {
  justify-content: flex-start;
}

.item,
.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.drag-drop {
  text-align: center;
  margin-top: 2rem;
  font-weight: var(--boldFont);
}

/* 
--------------- app title---------
 */

.app-header {
  margin-bottom: 2rem;
}
.app-header div h1 {
  letter-spacing: 0.8rem;
  font-size: 1.5rem;
  color: #fff;
}

/* 
---------------------- APP CONTAINER --------
*/

.container {
  display: flex;
  flex-direction: column;
  min-width: 330px;
  position: relative;
  z-index: 10;
  top: -9.5rem;
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.task-container > div {
  border-radius: 7px;
}

.task-container > div:not(.new-entry) > div {
  display: flex;
  justify-content: space-between;
}

.all-lists {
  justify-content: center;
}

.all-lists > div {
  font-size: 0.95rem;
  font-weight: var(--boldFont);
}

.all-lists > div:hover,
.all-lists > div:focus {
  color: var(--brightBlue);
}

.all-lists > div:nth-of-type(2) {
  margin: 0 1.5rem;
}

.all-lists > div,
.list-status,
.list-status > button,
.drag-drop {
  color: var(--veryDarkGreyishBlue);
}

.list-status {
  align-items: center;
}

.desktop.all-lists {
  display: none;
  /* max-width: 30rem; */
  margin: 0 2rem;
}

/* -------------task items ----------------- */
.item,
.list-status,
.all-lists,
.new-entry {
  padding: 1.1rem;
}

.new-entry form {
  display: flex;
  align-items: center;
}

.new-entry form input[type="text"]:focus,
.new-entry form input[type="text"]:active {
  outline: none;
  background-color: transparent;
  color: var(--lightGrayishBlue);
  font-size: 15px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item,
.list-status,
.drag-drop {
  font-size: 0.8rem;
}

/* pointers */
.item div p,
.check-container,
.all-lists > div:hover,
.all-lists > div:focus,
.list-status > button {
  cursor: pointer;
}

/* -------------check box input ----------------- */

/* Customize the label (the container) */
.check-container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-right: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.new-entry .checkmark {
  top: -10px;
}

/* Hide the browser's default checkbox */
.check-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -4px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 1rem;
}

/* When the checkbox is checked, add a background */
.check-container input:checked ~ .checkmark {
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.check-container .checkmark:after {
  background-image: url("images/icon-check.svg");
  background-repeat: no-repeat;
  height: 10px;
  width: 10px;
  left: 3.6px;
  top: 5px;
}

/* 
---------------------------------------------------

                    THEMES 

---------------------------------------------------
*/

/* dark mode */

body.light.dark {
  background-color: var(--veryDarkBlue);
  color: var(--lightGrayishBlue);
}

body.light.dark header {
  background-image: url("images/bg-mobile-dark.jpg");
}

.light.dark.task-container .checkmark {
  border: 1px solid var(--veryDarkGreyishBlue);
}

/* class to add to a checked item in dark mode */
.light.dark.task-container .checked-item {
  text-decoration: line-through var(--darkGreyishBlue) 1px;
  color: var(--veryDarkGreyishBlue);
}

.light.dark.task-container > div {
  box-shadow: 0 20px 50px var(--veryDarkBlue);
  background-color: var(--veryDarkDesaturatedBlue);
}
.light.dark.task-container .item {
  border-bottom: 0.5px solid var(--veryVeryDarkGreyishBlue);
}

/* light mode */

body.light {
  background-color: var(--veryLightGrayishBlue);
  color: var(--veryDarkGrayishBlue);
}

body.light header {
  background-image: url("images/bg-mobile-light.jpg");
}

.light.task-container > div {
  background-color: var(--veryLightGray);
  box-shadow: 0 20px 60px var(--darkGrayishBlue);
}

.light.task-container .item {
  border-bottom: 0.5px solid var(--lightGrayishBlue);
  font-weight: var(--boldFont);
}

/* class to add to a checked item in light mode */
.light.task-container .checked-item {
  text-decoration: line-through var(--darkGrayishBlue) 1px;
  color: var(--lightGrayishBlue);
}

.light.task-container .checkmark {
  border: 1px solid var(--lightGrayishBlue);
}

.list-status,
.list-status > button,
.drag-drop {
  color: var(--darkGreyishBlue);
}
